*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./Hexagon.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: -30px;
}
h1{
    color: white;
    text-align: center;
    margin-top: 90px;
    font-size: 60px;
    
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
font-family:  "Montserrat", sans-serif;
font-weight: bolder;
}
.input-field{
    width: 300px;
    height: 35px;
    border-radius: 13px;
    border: 2px solid rgb(0, 71, 111);
    padding: 3px ;
}
.input-field:hover{
    background-color: rgb(5, 36, 54);
    color: white;
}
p{
    background-color: rgb(5, 36, 54);
    width: 300px;
    height: 40px;
    border-radius: 13px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: white; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 font-family: "Roboto", sans-serif;
  border: 2px solid rgb(0, 71, 111);

  

}
button{
    background-color: rgb(5, 36, 54);
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 13px;
     border: 2px solid rgb(0, 71, 111);
    font-weight: bolder;
     font-size: 20px;
      
    
}
button:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

